!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
!node-red/
custom_components/
esphome/
deps/
image/
dwains-dashboard_old_v1/
*.db

secrets.yaml
known_devices.yaml

.ssh/
.storage/
.cloud/

home-assistant.log*
home-assistant_v2.db*


