homeassistant:
  name: asFrants iHome
  latitude: !secret latitude_coord
  longitude: !secret longitude_coord
  elevation: 158
  unit_system: metric
  country: RU
  time_zone: Europe/Moscow
  external_url: https://ihome.frants.site
  internal_url: http://192.168.1.202:8123
  packages: !include_dir_merge_named includes/packages

logger:
  default: warning
  logs:
    custom_components.xiaomi_miot: debug

yandex_smart_home:
  notifier:
    - oauth_token: !secret yandex_oauth_token
      skill_id: !secret yandex_skill_id
      user_id: !secret yandex_user_id

# https://github.com/AlexxIT/YandexDialogs#настройка-интентов-в-яндексдиалогах
# yandex_dialogs:

# https://github.com/dext0r/ha-yandex-station-intents
# yandex_station_intents:
#   intents:
#     Температура в комнате:
#       say_phrase: "В комнате {{ states('sensor.espresense_room_temperature')|int }} градусов"
# execute_command: Включи свет на кухне

# tts:
#   - platform: yandextts
#     api_key: THE_API_KEY
#     language: ru-RU
#     voice: oksana

default_config:

http:
  # server_port: 443
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret ip_proxy
    - !secret yandex_proxy
    - !secret vpn_proxy

notify:
  - name: telegram
    platform: telegram
    chat_id: !secret tg_user_id

frontend:
  themes: !include_dir_merge_named themes

input_boolean: !include includes/input/input_boolean.yaml
input_number: !include includes/input/input_number.yaml
input_select: !include includes/input/input_select.yaml
input_datetime: !include includes/input/input_datetime.yaml
shell_command: !include shell_commands.yaml

group: !include includes/groups.yaml
recorder: !include includes/recorder.yaml
scene: !include includes/scenes.yaml
alert: !include includes/alert.yaml

# automation: !include_dir_merge_list includes/automation
automation: !include automations.yaml
light: !include_dir_merge_list includes/light
sensor: !include_dir_merge_list includes/sensor
switch: !include_dir_merge_list includes/switches
script: !include_dir_merge_named includes/script
